body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 1;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0px;
}

.content {
    text-align: left;
}

.content h2, .content h3, .content p {
    margin: 10px 0;
}

.content a {
    text-decoration: none;
    color: blue;
    margin-right: 10px;
}

.content a:hover {
    text-decoration: underline;
}